
.provider_info{
width: 100%; 
height: 24px;
padding: 3px; 
border: 1px solid #FFFFFF;
border-collapse:collapse;
font-family : Arial, Helvetica, Verdana, sans-serif;
}

.provider_info td{ 
font-size: 12px; 
border: 1px solid #FFFFFF;
background-color: #eaf0f4; 
vertical-align: middle; 
padding: 6px; 
font-weight: bold; 
}