body {	background-color: #575767;  }

.sheet {	font-family: Verdana;	font-size: 12px;	font-style: normal;
	line-height: normal; font-weight: normal; color: #000000; text-decoration: none; }

.style2 {	color: #FF6600; 	font-weight: bold;	font-size: 12px; }

.style5 {font-size: 16px}

.style9 { color: #CC0000; 	font-weight: bold; }

.style10 {font-size: 11px}

.style14 {font-size: 9px}

.style15 { color: #9a730a;	font-weight: bold; }

a:link { text-decoration: none; 	color: #000000; }

a:visited { text-decoration: none; 	color: #000000; }

a:hover { text-decoration: none;	color: #CC0000; }

a:active { text-decoration: none;	color: #CC0000; }

