
.content1 { 
  text-align: left;
  width: 900px;
  margin: 0 10px 15px 0;
  background: #fff;border-bottom: 1px solid #D4D4D4;
  border: 1px solid #e5e5e5;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  float: left;
}
  
.content1 ul { 
  margin: 2px 0 22px 0px;
}

.content1 ul li, .sidebar ul li { 
  list-style-type: none;
  background: url(../images/bullet.png) no-repeat;
  margin: 0 0 0 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;
}


#sec_title { width: 100%; border: 0px solid black; float: left}
#lefttitle { width: 40px; border: 0px solid red; float: left}
#righttitle { width: 300px; border: 0px solid red; float: left}

.sidebar h3, .content1 h1 { 
  background: #eee;padding: 10px 15px;
  font-size: 170%;
  border: 1px solid #fff;
  color: #063E4C;
    border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border: 7px 7px 0 0;
}

.sidebar h3, .content1 h1 { 
  padding: 5px 15px 10px 15px;
  color: #74706E;
}

.sidebar li a.selected { 
  color: #444;
} 

.sidebar ul { 
  margin: -20px 0 0 0;
} 

.sidebar_item, .content_item { 
  padding: 15px 15px;
}

