<div id="menua">
	<div id="menu_inner">
    	<div class="menu_desktop">
                <div class="menu_before">&nbsp;</div>
                <a href="javascript:void(0);" class="menubtn"  alt="Link to Menu">MENU</a>
                <div class="menu_after">&nbsp;</div>
                <div data-tag="menu_links" class="menu_links"></div>
                
                <div id="menu_right">
                    <div class="pagenums">
                        <div data-tag="page_numbers"></div>
                    </div>
                    <a href="" data-tag="link_prev" class="prevt"  alt="Link to Previous Page">Previous</a>
                    <a href="" data-tag="link_home" class="home"  alt="Link to Home">Home</a>
                    <a href="" data-tag="link_next" class="nextt"  alt="Link to Next Page">Next</a>
                    <div class="menu_after_next">&nbsp;</div>
                </div>
                
        </div>
        
        <div class="menu_mobile">
            		<div class="menu_before">&nbsp;</div>
                    <a href="javascript:void(0);" class="menubtn_mobile" alt="Link to Menu"><img src="../global/images/global/menu_btn.jpg" title="menu button"/></a>
                    <div class="menu_after">&nbsp;</div>
                    
                    <div id="menu_right">
                        <div class="pagenums">
                            <div data-tag="page_numbers"></div>
                        </div>
                        <a href="" data-tag="link_prev" class="prevt" alt="Link to Previous Page">Previous</a>
                        <a href="" data-tag="link_home" class="home" alt="Link to Home">Home</a>
                        <a href="" data-tag="link_next" class="nextt" alt="Link to Next Page">Next</a>
                        <div class="menu_after_next">&nbsp;</div>
                    </div>
                    
        </div>
    </div><!-- end menu_inner -->
</div>

<div id="nav_menu">
	<div class="menu_mobile_nav">
                    	<div data-tag="menu_links" class="menu_links"></div>
    </div>
 	<!-- Menu items will be populated here -->
</div>