<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome to the Learing Object!</title>
<script>
	var pg_csslibs = ['']; // CSS Libs for this Page
	var pg_jslibs = ['']; // JS Libs for this Page
	var isindex = true;
</script>
<script type="text/javascript" src="global/js/settings.js"></script><!-- LO settings -->
<script type="text/javascript" src="../../js/settings.js"></script><!-- Course Settings -->
</head>
<body>
<div id="wrapper">
<!-- Learning Object info will be inserted here -->

<div id="footer">
   	<span id="footer_span">
  		Unless otherwise noted, &copy; 2013 <img src="global/imgs/logo_flvs_blue.png" width="100" height="34" alt="FLVS Logo">
    </span>
</div>


</div>

</body>
</html> 
