<div id="headbar">

	<div id="headbar_inner">
    
    	<a href="" id="course_title" data-tag="course_title"></a>
        
        <div id="top_nav">
        			<a href="" data-tag="link_prev">Previous</a>
                    <a href="" data-tag="link_home">Home</a>
                    <a href="" data-tag="link_next">Next</a>
        </div>
        
    </div>
    
</div>


<div class="container">

	<div id="content">
    		
            <div id="side_nav">
            	<a href="javascript:void(0);" data-tag="link_nav" class="nav_popout">Navigate</a>
                <a href="" data-tag="link_notes" class="nav_notes pop" title="Notes">Link to Notes</a>
                <a href="" data-tag="link_glossary" class="nav_glossary" title="Glossary">Link to Glossary</a>
                <a href="" data-tag="link_print" class="link_print" title="Print Link">Print Page</a>
                <a href="" data-tag="link_bookmark" class="link_bookmark" title="Print Link">Print Page</a>
                <a href="" data-tag="link_textup" class="link_textup" title="Increase Text Size">Increase Text Size</a>
                <a href="" data-tag="link_textreset" class="link_textreset" title="Increase Text Size">Reset Text Size</a>
                <a href="" data-tag="link_textdown" class="link_textdown" title="Increase Text Size">Decrease Text Size</a>
            </div>
            
            
            <div id="margin">
            	
                <div id="page_header">
                	<div class="page_title"></div>
                
                    <div class="page_number">
                        <div data-tag="page_numbers"></div>
                        <div class="progress_meter_popup"><div class="progress_bar" data-width="300px"></div></div>
                    </div>
                    
                    <a href="javascript:void(0);" class="bookmarker bookmarkpage tip-bottom" title="Bookmark Page">Bookmark Page</a>
                    
                   
                    <br class="clear"/>
                    
                </div>
            	
                
                <div data-tag="page_content"></div>
                
                <div data-tag="page_links"></div>
                
            </div>
            
            
            
    </div>

    <div id="footer">
    
        <a href="../global/copyright.htm" class="footer_copyright_page tip-right modal-pop" title="Copyright Information">Link to Copyright Information</a>
        
        <div id="footer_copyright">
        
        </div>
        
    </div>

</div>



