<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>Learning Object: Page 5</title>
<script>
	var pg_csslibs = ['']; // CSS Libs for this Page
	var pg_jslibs = ['']; // JS Libs for this Page
	var isindex = false;
</script>
<script type="text/javascript" src="../global/js/settings.js"></script><!-- LO settings -->
<script type="text/javascript" src="../../../js/settings.js"></script><!-- Course Settings -->
<style>
</style>
</head>
<body>
<div id="appContent">

 <div class="text_version" data-src="../../../../cheatsheet/textversion/index_txtd.htm">
            	<video class="video" src="../../../video/echo-hereweare.mp4" width="320" height="240" poster="../../../video/echo-hereweare.jpg" controls="controls">
            	</video>
            </div>
            <hr />

            <h3>Fall Back support</h3>

            <h4>Option A: Single MP4 or M4A(Audio)</h4>
             This is the easist route for all browsers and mobile devices

            <hr />
            <h3>Option B: Multiple codecs with Flash fallback</h3>
            This includes multiple codecs for various browsers (h.264 for IE9, Safari, and mobile browsers; WebM for Firefox 4, Chrome, and Opera; Ogg for Firefox 3) as well as a Flash fallback for non HTML5 browsers with JavaScript disabled. 
            <br />

</div>
</body>
</html> 
