
.ahead1 { height:24;font-size:16px; font-family: Arial; color: #1E731D; font-weight: bold; vertical-align: bottom; }

.ahead2 { height:24;font-size:16px; font-family: Arial; color: #B87035; font-weight: bold; vertical-align: bottom; }

.ahead3 { height:24;font-size:16px; font-family: Arial; color: #4F8ED7; font-weight: bold; vertical-align: bottom; }

