<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>Learning Object: Page 3 Complete</title>
<script>
	var pg_csslibs = ['']; // CSS Libs for this Page
	var pg_jslibs = ['']; // JS Libs for this Page
	var isindex = false;
</script>
<script type="text/javascript" src="../global/js/settings.js"></script><!-- LO settings -->
<script type="text/javascript" src="../../../js/settings.js"></script><!-- Course Settings -->
</head>
<body>
<div id="appContent">

  
  <div class="right">
  <img src="../global/imgs/Jupiterimages_Corporation.jpg" alt="Good Job!" width="205px" title="" /> 
  <span class="copyright">&copy; 2012 Jupiterimages Corporation</span>
  </div>
  
<h1>Congratulations!</h1>

<p><strong>You have just completed this level.</strong></p>

<p>If you want  to learn more advanced information about this template subject, please move to the next page.</p>
<p> Otherwise, feel free to close this window and continue on with your course.</p>

  

</div>
</body>
</html> 
